<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Firefox" parallel="false">
    <test name="Ottry">
        <classes>
            <class name="tests.ticket.TicketSmokeTS">
                <!--<methods>
                    <include name="pendingTicketBooking"/>
                </methods>-->
            </class>
            <class name="tests.cafe.CafeSmokeTS"/>
        </classes>
    </test>
</suite>